@import 'styles/colors';
@import 'styles/fonts';
.sidebar{
    flex: 1;
    background-color: $skype-background-gray;
    h3 {
        font-family: $font-family;
    }
    .sidebar__divider{
        border: none;
        height: 1px;
        background-color: lightgray;
    }
}