@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/shared';
.sidebar{
    flex: 1;
    background-color: $skype-background-gray;
    h3 {
        font-family: $font-family;
    }
    .sidebar__divider{
        @extend %divider;
    }
}