$skype-background-gray: rgb(240, 244, 248);
$skype-blue-color: #0078D4;
$skype-red-color: #F44336;
$skype-border-color: #F0F4F8;
$skype-black-color: #2B2C33;
$skype-icon-color: rgb(43, 44, 51);

$skype-active-blue: rgb(199, 237, 252);
$skype-hover-blue: rgba(199, 237, 252, 0.5);

$skype-active-green: rgb(77, 217, 101);