@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'), url(../fonts/Tahoma-Regular.ttf) format('truetype');
}

$font-family: 'Tahoma';
$skype-font-black-color: rgb(37, 36, 35);;
$skype-font-gray-color: rgb(138, 141, 145);